<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}Django Blog{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'posts' %}">Posts</a>
                    </li>
                    <li>
                        <a href="{% url 'feed' %}">Personal Feed</a>
                    </li>
                    <li>
                        <form action="{% url 'search_post' %}" method="get">
                            <input type="text" name="search_term" placeholder="Search...">
                            <button type="submit">Search</button>
                        </form>
                    </li>
                    <li></li>
                    {% if user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit">Log Out</button>
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <button>
                                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                            </button>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% if user.is_authenticated %}
            <h1>
                You are logged in as
                {{ user.username }}
            </h1>
        {% endif %}
        <!--<form method="get" action={% url 'range_search' %}>
            {% csrf_token %}
            <label for="start_date">Start Date:</label>
            <input type="datetime" id="start_date" name="start_date">
            <label for="end_date">End Date:</label>
            <input type="datetime" id="end_date" name="end_date">
            <button type="submit">Search</button>
</form>-->
        <div class="content">
            {% block content %}
                <!-- Page-specific content goes here -->
            {% endblock %}
        </div>
        <footer>
            <p>&copy; 2024 Django Social Media site</p>
        </footer>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
