{% extends "base.html" %}
{% block content %}
    <nav>
        <ul>
            <li>
                <a href="{% url 'connections' profile.user.id %}">Followers</a>
            </li>
        </ul>
    </nav>
    <h2>{{ profile.user.username }}'s Profile</h2>
    {% if user == profile.user %}
        <a href="{% url 'profile_update' user.id %}">Update Profile</a>
        <p style="color: red;">
            <a style="color: red;" href="{% url 'delete_account' %}">Delete Profile</a>
        </p>
    {% endif %}
    {% if user.is_authenticated and not already_followed  and user.id != profile.user.id %}
        <form method="post" action="{% url 'follow_user' profile.user.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-success" type=submit>FOLLOW</button>
        </form>
    {% elif user.is_authenticated  and already_followed %}
        <form method="post" action="{% url 'unfollow_user' profile.user.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-danger" type=submit>UNFOLLOW</button>
        </form>
    {% endif %}
    <div>
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
    </div>
    <p>Bio: {{ profile.bio }}</p>
    <br>
    <!-- Followers -->
    <h4>Followers ({{ followers|length }})</h4>
    <ul>
        {% for follower in followers %}
            <li>{{ follower.username }}</li>
        {% empty %}
            NO followers
        {% endfor %}
    </ul>
    <br>
    <!-- Following -->
    <h4>Following ({{ following|length }})</h4>
    <ul>
        {% for followed in following %}
            <li>{{ followed.username }}</li>
        {% empty %}
            NO following
        {% endfor %}
    </ul>
    <br>
    <!-- Posts -->
    <h4>Posts ({{ posts|length }})</h4>
    <ul>
        {% for post in posts %}
            <li>{{ post.content }} ({{ post.created_at }})</li>
            {% if user.is_authenticated and profile.user.id == user.id %}
                <a href={% url 'post_detail' post.id %}>view post</a>
            {% endif %}
        {% empty %}
            NO posts
        {% endfor %}
    </ul>
{% endblock %}
