<!-- profile.html -->

{% extends 'blog/base.html' %}
{% block content %}
  <h1>Profile</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ u_form|crispy }}
    {{ p_form|crispy }}
    <button type="submit">Update Profile</button>
  </form>
{% endblock %}

{% comment %} {% block content %}
  <h1>{{ profile.user.username }}'s Profile</h1>
  <p>Email: {{ profile.email }}</p>
  <div>
    POSTS:<ul>
      {% for post in profile.user.posts %}
        <li>{{ post.title }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %} {% endcomment %}
